body{
    background-image: url('background.jpg');
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: black;
    opacity: 0.8;
    height: 180px;
    color:white;
    display: flex;
    justify-content: space-between;
}

.leftHeader{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
}

.rightHeader{
    font-size: 20px;
    margin-right: 100px;
    margin-top: 50px;
    width:120px;
    height: 60px;
    border-radius: 10px;

}

.addButton{
    font-size: 20px;
    margin-right: 100px;
    margin-top: 50px;
    width:120px;
    height: 60px;
    border-radius: 10px;

}

.headerMain{
    color:white;
    font-size: 25px;
    width: 1100px;
    margin-left: 20%;
}

.headerMainList{
    display: flex;
    justify-content: space-around;    
    margin-top: 100px;
    background-color:rgb(114, 99, 80);
    border-radius: 10px;
    height: 100px;
    align-items: center;
    list-style-type: none;
    
}



.headerMainList :nth-child(2){
    width: 400px;
    text-align: center;
}

.headerMainList li{
    background-color: black ;
    opacity: 0.5;
    border-radius: 10px;
    width:100px;
    text-align: center;
}

.formBackground{
    width:100%;
    height:500px;
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
   
    
}

.form{
    margin-left: 30%;
    margin-top: 70px;
    font-size: 25px;
    width: 600px;
}

.form div{
    margin-bottom: 50px;
    width: 600px;
    background-color: rgb(114, 99, 80);
    height: 60px;
    padding-top: 15px;
    border-radius: 15px;
    padding-left: 10%;

}

.form input{
    height: 30px;
    margin-left: 10%;
    width:200px;
    border-radius: 15px;
}

.submitButton{
    width:100px;
    height:40px;
    border-radius: 15px;
    font-size: 15px;
}


.mainList{
    display: flex;
    justify-content: space-around;    
    list-style-type: none;
    background-color:rgb(114, 99, 80);
    border-radius: 10px;
    height: 100px;
    align-items: center;
    padding: 0;
}

.mainList li{
    
    
    
}

.mainList :nth-child(2){
    font-size: 15px;
    width: 400px;
    margin-left: 5%;
}

.mainList :nth-child(1){
    width: 120px;
    margin-left: 6%;
    text-overflow:ellipsis;
}

.mainList :nth-child(3){
    width: 125px;
    margin-left: 5%;
}



.upperImg, .downImg, .delete{
    width:16px;
    height: 16px;
}

.upperImg{
   margin-left: 6%;
}

@keyframes appearance {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
